<h1>{{title}}</h1>
<p>Selecciona la opción a realizar: </p>
<div class="menu">
    <a href="/pacientes">Listar pacientes</a>
    <a href="/medicos">Listar medicos</a>
    <a href="/citas">Solicitar cita medica</a>    
</div>


